<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ConfirmationEtudiant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ConfirmationEtudiant</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-list *ngFor="let Etudiant of touslesetudiants">
    <ion-item>
      <ion-label>{{Etudiant.nom}}~~{{Etudiant.matricule}}</ion-label>
    </ion-item>
  </ion-list> -->
  <!-- <ion-label>{{marque}}</ion-label> -->
</ion-content>